<div class="container-fluid">


	<div block-repeater id="employeeRepeater" [data]="employees" propertyKeyName="employeeId" (selectedChanged)="employeeSelectedChanged($event)"
	 containerClass="employeeContainer" elementClass="employeeElement">

		<ng-template #blockRepeaterCustomTemplate let-employee="dataItem" let-employeeIsSelected="isSelected">


			<div class="card" [ngClass]="{'border-primary bg-light': employeeIsSelected}">
				<div class="card-header">
					{{employee.name}}
				</div>
				<div class="card-body">
					<h5 class="card-title">{{employee.name}}</h5>
					<p class="card-text">
						{{employee.email}}
					</p>
					<button type="button" class="btn btn-success" (click)="sendEmployeeHandler($event, employee)">send now</button>
				</div>
			</div>


		</ng-template>

	</div>
  







</div>