
<block-repeater id="employeeRepeater" 
                [data]="employees" 
                propertyKeyName="employeeId" 
                (selectedChanged)="employeeSelectedChanged($event)">

	<ng-template #blockRepeaterCustomTemplate let-employee="dataItem" let-employeeIsSelected="isSelected" >

		<div [ngStyle]="{'background-color':employeeIsSelected ? '#ffe6e6' : '#ccc' }">
       {{employeeIsSelected}} #{{employee.employeeId}} - {{employee.name}}, {{employee.attribute}} 
       <button (click)="sendEmployeeHandler($event, employee)">send now</button>
      </div>

	</ng-template>

</block-repeater>