

<div id="{{id}}_blockRepeater">

    <div id="blockRepeaterContainer" class="??">

        <ng-container *ngFor="let dataItem of itemsForRepetition; let index = index">

            <div id="reapeatItem_{{index}}"
                 class="??"
                 (click)="itemClickedHandler(dataItem)">
                  
                 <ng-container *ngTemplateOutlet="template;context:{dataItem: dataItem, isSelected:itemIsSelected(dataItem)}">
                </ng-container>

            </div>

        </ng-container>
    </div>

</div>


