/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

.bd-highlight {
  background-color: #c0bfbf;
  border: 1px solid #858585;
}
.employeeContainer {
  padding: 5px;
  background-color: #ccc;
}
.employeeElement {
  margin: 5px 5px 0 0;
}