/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

.bd-highlight {
  background-color: #c0bfbf;
  border: 1px solid #858585;
}
.employeeContainer {
  margin-top:10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #eee;
}
.employeeElement {
  margin: 0px 5px 5px 0;
}